body {
  margin: 0;
  font: 20px 'Open Sans Hebrew'; /* !! add webfont !! */
  -webkit-font-smoothing: antialiased;
  background-color: #2F6DA0;
}

.site-title {
  height: 10vh;
  margin: 0;
  text-align: center;
  line-height: 1.6;
  color: #fff;
}

.container {
  display: flex;
  height: 88vh;
  flex-wrap: wrap;
}

.text {
  box-sizing: border-box;
  padding: 0 1em;
  margin: 0 0.75em;
  flex: 1 1 9em;
  border-radius: 5px;
}

#input {
  padding-top: 1em;
  color: inherit;
  font: inherit;
  border: none;
  resize: none;
}

#input:focus {
  outline: 0;
  box-shadow: 0 0 1pt 2pt #7193AB;
}

#output {
  overflow: auto;
  background-color: #fff;
}

.social-links {
  display: flex;
  margin: 1.75em 0;
  justify-content: center;
}

.social-links__img {
  width: 2.5em;
}
